# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

## <font color='blue'>Estudo de Caso 2</font>

## <font color='blue'>Data Science na Educação – Análise de Dados Escolares com Pandas</font>

![title](imagens/EstudoCaso2.png)

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

In [ ]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
#!pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
!pip install watermark

In [1]:
# Imports
import pandas as pd

In [2]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

ModuleNotFoundError: No module named 'watermark'

## Carregando os Dados

In [3]:
# Carrega o dataset de escolas
dados_escolas = pd.read_csv("dados/dataset_escolas.csv")

In [4]:
# Visualiza
dados_escolas.head()

   ID_Escola Nome_Escola Tipo_Escola  Numero_Alunos  Orcamento_Anual
0          0    Escola A     Publica           2917          1910635
1          1    Escola B     Publica           2949          1884411
2          2    Escola C  Particular           1761          1056600
3          3    Escola D     Publica           4635          3022020
4          4    Escola E  Particular           1468           917500

In [5]:
# Dataset de estudantes
dados_estudantes = pd.read_csv("dados/dataset_estudantes.csv")

In [6]:
# Visualiza
dados_estudantes.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica
0,0,Kevin Bradley,M,6,Escola A,66,79
1,1,Paul Smith,M,9,Escola A,94,61
2,2,John Rodriguez,M,9,Escola A,90,60
3,3,Oliver Scott,M,9,Escola A,67,58
4,4,William Ray,F,6,Escola A,97,84

In [7]:
dados_escolas.shape

(15, 5)

In [9]:
dados_estudantes.shape

(39160, 7)

In [10]:
# merge dataset

df_raw = pd.merge(dados_estudantes, dados_escolas, on = 'Nome_Escola', how = 'left')

In [11]:
df_raw.shape

(39160, 11)

In [12]:
df_raw.isna().sum()

ID_Estudante       0
Nome_Estudante     0
Genero             0
Serie              0
Nome_Escola        0
Nota_Redacao       0
Nota_Matematica    0
ID_Escola          0
Tipo_Escola        0
Numero_Alunos      0
Orcamento_Anual    0
dtype: int64

In [14]:
df_raw.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
0,0,Kevin Bradley,M,6,Escola A,66,79,0,Publica,2917,1910635
1,1,Paul Smith,M,9,Escola A,94,61,0,Publica,2917,1910635
2,2,John Rodriguez,M,9,Escola A,90,60,0,Publica,2917,1910635
3,3,Oliver Scott,M,9,Escola A,67,58,0,Publica,2917,1910635
4,4,William Ray,F,6,Escola A,97,84,0,Publica,2917,1910635

In [15]:
# Séries escolares no dataset
df_raw['Serie'].unique()

array([6, 9, 8, 7])

In [16]:
# Genero
df_raw["Genero"].unique()

array(['M', 'F'], dtype=object)

## Desafio de Análise de Dados

Responda as perguntas abaixo.

> **1- Temos dados de quantas escolas?**

In [18]:
len(df_raw['ID_Escola'].unique())

15

> **2- Qual o total de registros de estudantes na base de dados?**

In [19]:
len(df_raw['ID_Estudante'].unique())

39160

> **3- Qual o orçamento total considerando todas as escolas?**

In [68]:
orcamento = df_raw[['Orcamento_Anual', 'ID_Escola','Tipo_Escola']].drop_duplicates().groupby(['ID_Escola', 'Tipo_Escola']).sum()
orcamento

                       Orcamento_Anual
ID_Escola Tipo_Escola
0         Publica              1910635
1         Publica              1884411
2         Particular           1056600
3         Publica              3022020
4         Particular            917500
5         Particular           1319574
6         Particular           1081356
7         Publica              3124928
8         Particular            248087
9         Particular            585858
10        Particular           1049400
11        Publica              2547363
12        Publica              3094650
13        Publica              1763916
14        Particular           1043130

In [53]:
orcamento['Orcamento_Anual'].sum()

24649428

In [64]:
qty_students_by_school = df_raw[['Tipo_Escola', 'Numero_Alunos']].drop_duplicates().groupby('Tipo_Escola').sum()
qty_students_by_school

             Numero_Alunos
Tipo_Escola
Particular           12194
Publica              26976

> **4- Qual a média da nota dos alunos em Redação?**

In [20]:
df_raw.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
0,0,Kevin Bradley,M,6,Escola A,66,79,0,Publica,2917,1910635
1,1,Paul Smith,M,9,Escola A,94,61,0,Publica,2917,1910635
2,2,John Rodriguez,M,9,Escola A,90,60,0,Publica,2917,1910635
3,3,Oliver Scott,M,9,Escola A,67,58,0,Publica,2917,1910635
4,4,William Ray,F,6,Escola A,97,84,0,Publica,2917,1910635

In [23]:
df_raw.Nota_Redacao.mean()

81.87574055158325

In [24]:
df_raw.Nota_Redacao.median()

82.0

In [25]:
df_raw.Nota_Redacao.std()

10.23883854712765

In [26]:
# media de nota por tipo de escola
df_raw[['Tipo_Escola', 'Nota_Redacao']].groupby('Tipo_Escola').mean()

             Nota_Redacao
Tipo_Escola
Particular      83.897735
Publica         80.962485

> **5- Qual a média da nota dos alunos em Matemática?**

In [27]:
df_raw.Nota_Matematica.mean()

78.98493360572012

> **6- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Redação? (Entregue o resultado em valor absoluto e percentual)**

In [54]:
df_aprovados_redacao = df_raw[df_raw['Nota_Redacao']>=70]

In [55]:
len(df_aprovados_redacao)

33600

In [56]:
len(df_aprovados_redacao)/len(df_raw)*100

85.80183861082737

> **7- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Matemática? (Entregue o resultado em valor absoluto e percentual)**

In [57]:
df_aprovados_matematica = df_raw[df_raw['Nota_Matematica']>=70]

In [58]:
len(df_aprovados_matematica)

29360

In [59]:
len(df_aprovados_matematica)/len(df_raw)*100

74.97446373850867

> **8- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Matemática e Redação? (Entregue o resultado em valor absoluto e percentual)**

In [60]:
df_aprovados = df_raw[(df_raw['Nota_Redacao']>=70 )& (df_raw['Nota_Matematica']>=70)]

In [61]:
len(df_aprovados)

25518

In [62]:
len(df_aprovados)/len(df_raw)*100

65.16343207354444

> **9- Crie um dataframe com os resultados das questões de 1 a 8 que você calculou acima. (Dica: crie um dicionário e depois converta em dataframe do Pandas)**

> **10- Formate as colunas "Total de Estudantes" e "Total Orçamento" ajustando as casas decimais.**

# Fim